body {
  margin-top: 105px; 
}

.navbar {
  box-shadow: 2px 2px 5px #AAA;
  opacity: 0.9;
  background: #fff; 
}

.navbar .nav-item 
{
  font-size: 1.4rem;
  padding-right: 1.4rem; 
}

#showcase {
  position: relative;
  background: url("../img/cbs_academy_logo.png");
  min-height: 400px; 
}

#showcase .primary-overlay 
{
  background: rgba(50, 146, 166, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
}
